h1 {
  font-size: 32px;
  color: #484848;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 10px 0; }

h2 {
  font-size: 16px;
  color: #484848;
  font-weight: 600; }

h3 {
  font-size: 12px;
  color: #484848;
  font-weight: 600;
  padding: 15px 0; }

h4 {
  color: #00A699; }

h5 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif; }

h6 {
  font-size: 14px;
  color: #484848;
  font-weight: 600;
  font-family: 'Poppins', sans-serif; }

p {
  font-size: 16px;
  color: #484848;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal; }

.top-background-image {
  background-image: url("https://a0.muscache.com/pictures/66bad600-46b8-4b90-9911-867dd44d254b.jpg");
  height: 50vh;
  width: 100vw;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column; }

.get-started-host {
  background: #FF5A5F;
  width: 200px; }

.become-host-h1-text {
  color: white;
  font-size: 34px; }
