@import '../../styles';
@import '../../assets';

.top-background-image {
    background-image: url('https://a0.muscache.com/pictures/66bad600-46b8-4b90-9911-867dd44d254b.jpg');
    height: 50vh;
    width: 100vw;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    // background-size: 1000px 500px;
    // background-position: 10% 70%; 

}

.get-started-host {
    // @include searchButton;
    background: $pink;
    width: 200px;
}

.become-host-h1-text {
    color: white;
    font-size: 34px;
}