h1 {
  font-size: 32px;
  color: #484848;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 10px 0; }

h2 {
  font-size: 16px;
  color: #484848;
  font-weight: 600; }

h3 {
  font-size: 12px;
  color: #484848;
  font-weight: 600;
  padding: 15px 0; }

h4 {
  color: #00A699; }

h5 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif; }

h6 {
  font-size: 14px;
  color: #484848;
  font-weight: 600;
  font-family: 'Poppins', sans-serif; }

p {
  font-size: 16px;
  color: #484848;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal; }

.add-descriptions-container {
  padding: 15px 85px; }
  .add-descriptions-container .add-descriptions-left-side-container {
    width: 544px;
    margin: 0 100px; }
    .add-descriptions-container .add-descriptions-left-side-container .host-step-number-text {
      color: #767676;
      font-size: 14px;
      opacity: 0.9;
      font-family: 'Montserrat', sans-serif; }
  .add-descriptions-container .input-box {
    border-radius: 3px;
    border: solid 1px #dce0e0;
    padding: 20px;
    outline: 0 solid transparent;
    width: 100%;
    font-size: 19px; }
  .add-descriptions-container .add-descriptions-box-titles {
    font-size: 19px;
    color: #484848;
    font-family: 'Montserrat', sans-serif; }
  .add-descriptions-container .back-and-next-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px; }
    .add-descriptions-container .back-and-next-btns .host-goback-link {
      color: #378288;
      font-size: 16px;
      font-weight: 600; }
    .add-descriptions-container .back-and-next-btns .host-continue-btn {
      background-color: #378288;
      height: 50px;
      width: 150px;
      color: white;
      padding: 8px;
      border-radius: 4px;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      font-size: 16px; }
