h1 {
  font-size: 32px;
  color: #484848;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 10px 0; }

h2 {
  font-size: 16px;
  color: #484848;
  font-weight: 600; }

h3 {
  font-size: 12px;
  color: #484848;
  font-weight: 600;
  padding: 15px 0; }

h4 {
  color: #00A699; }

h5 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif; }

h6 {
  font-size: 14px;
  color: #484848;
  font-weight: 600;
  font-family: 'Poppins', sans-serif; }

p {
  font-size: 16px;
  color: #484848;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal; }

.home-main-img {
  background-image: url("https://images.unsplash.com/photo-1533667586627-9f5ddbd42539?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjI0MX0&s=08a5f881190b7ff4bbfd082042a7d6b9&auto=format&fit=crop&w=1350&q=80");
  width: 100vw;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center; }
  .home-main-img .home-h1 {
    color: white;
    padding-top: 30vh;
    padding-left: 30px;
    max-width: 80vw; }

.home-filter-container {
  max-width: 315px;
  margin: 0 auto;
  margin-top: 30px; }

select {
  font-size: 19px;
  font-weight: 200;
  line-height: 24px;
  color: #767676;
  padding: 11px 11px 9px;
  margin: 10px 0;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  background: white; }

@media (max-width: 1127px) {
  select {
    font-size: 19px;
    font-weight: 200;
    line-height: 24px;
    color: #767676;
    padding: 11px 11px 9px;
    margin: 10px 0;
    border: 0px solid #dbdbdb;
    border-radius: 2px;
    background: white; } }

.search-btn {
  background: #FF5A5F;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  width: 315px;
  height: 50px;
  margin: 10px 0; }

.home-box-titles {
  margin: 10px 0; }
