h1 {
  font-size: 56px;
  color: #484848;
  font-weight: 100; }

h2 {
  font-size: 36px;
  color: #484848; }

h3 {
  font-size: 28px;
  color: #484848; }

h4 {
  color: #00A699; }

p {
  color: #484848; }
