@import '../../styles';
@import '../../assets';

.airbnb-logo {
    background-image: url('../../media/AirbnbLogo.svg');
}

// styles for mobile
@media (max-width: 1127px) {  
    .header-body {
        padding: 12px 24px;
        z-index: 999999;
    }
    .logo-and-search-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo-and-arrow-container {
            .logo-and-arrow {
                align-items: center;
                display: flex;
                flex-direction: row;
                // display: initial;
                // position: fixed;
                .airbnb-logo {
                    height: 32px;
                    width: 32px;
                }
                .down-arrow {
                    margin-left: 10px;
                    margin-right: 12px;
                    height: 10px;
                    width: 10px;
                }
            }
        }
        .search-box {
            height: 50px;
            width: 100%;
            border: 1px solid #EBEBEB;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            display: flex;
            align-items: center;
            .search-icon {
                margin-left: 15px;
                background-image: url('../../media/search-icon.svg');
                object-fit: cover;
                background-size: contain;
                background-repeat: no-repeat;
                height: 20px;
                width: 20px;
            }
            .search-text {
                font-weight: 700;
                padding-left: 14px;
                color: $gray;
            }
        }    
    }

    header nav {
        padding: 20px 24px;
        z-index: 999999;
        top: 70px;
        right: 0px;
        width: 100%;
        background: white;
        transform: translate(0px, -1000px);
        position: absolute;
        transition: 0.3s; 
    }

    .nav-links {
        color: $black;
        font-weight: 400;
    }
    a {
        text-decoration: none;
        color: $black;
        font-weight: 400;
    }
    header nav ul:focus {
        min-width: 100vw;
        height: 600px;
        flex-direction: column;
        padding: 10px 0;
        visibility: visible;  
    }
    
    .nav-links {
        font-size: 16px;
        font-weight: 400;
        padding: 20px 0;
    }
    .nav-links-small-only {
        font-size: 16px;
        font-weight: 400;
        padding: 20px 0;
    }

    .dropdown-line {
        margin-top:15px;
        margin-bottom: 15px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        opacity: 0.2;
        width: 100%;
    }

    header .show {
        transform: translate(0px, 0px); 
    }
    .hidden-text-to-make-whitespace {
        color: white;
    }

    .large-horizontal-nav {
        display: none;
    }
}

// styles for big/full desktop (horizontal menu)
@media (min-width: 1128px) {
    .header-body {
        display: flex;
        flex-direction: row;
        padding: 15px 24px;
        align-items: center;
        justify-content: space-between;
    }
    .logo-and-search-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        .down-arrow{
            display: none
        }
        .airbnb-logo-big-only {
            background-image: url('../../media/AirbnbLogo.svg');
            // margin: 12px 24px;
            margin-right: 25px;
            height: 35px;
            width: 35px;
            background-repeat: no-repeat;
        }
        .airbnb-logo {
            display: none;
        }

        .search-box {
            height: 50px;
            width: 450px;
            border: 1px solid #EBEBEB;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            display: flex;
            align-items: center;
                select {
                    width: 450px;
                    font-weight: 500;
                    color: $gray;              
                    border: none;
                    background-color: white;
                    font-size: 19px;
                    font-family: 'Poppins', sans-serif;
                }
                
        
            .search-icon {
                margin-left: 15px;
                background-image: url('../../media/search-icon.svg');
                object-fit: cover;
                background-size: contain;
                background-repeat: no-repeat;
                height: 20px;
                width: 20px;
            }
            // .search-text {
            //     font-weight: 700;
            //     padding-left: 14px;
            //     color: $gray;
            // }
        } 
    }
    .small-space {
        display: none;
    }

    .horizontal-nav-container {
        display: flex;
        flex-direction: row;
        .large-horizontal-nav {
            display: flex;
            flex-direction: row;
            a {
                text-decoration: none;
                color: $black;
                font-size: 14px;
                //  font-weight: 500;
                padding-left: 12px;
                // font-family: 'Montserrat',bold, sans-serif;
                font-family: 'Poppins', sans-serif;
                // font-family: 'Nunito', sans-serif;
            }
            .nav-links-horizontal {
                color: $black;
                // font-weight: 500;
                font-size: 14px;
                padding-left: 12px;
                font-family: 'Poppins', sans-serif;
                color: $black;
                font-weight: 400;
                // font-family: 'Nunito', sans-serif;
            }
                    
        }
    
    }

    
    nav {
        display: none;
    }

    // header nav ul {
    //     display: flex;
    //     flex-direction: row;
        
    //     .nav-links-small-only {
    //         display: none;
    //     }
    //     .dropdown-line {
    //         display: none;
    //     }
    //     .hidden-text-to-make-whitespace {
    //         display: none;
    //     }
    //     a {
    //         text-decoration: none;
    //         color: $black;
    //         font-size: 14px;
    //         //  font-weight: 500;
    //         padding-left: 10px;
    //         // font-family: 'Montserrat',bold, sans-serif;
    //         font-family: 'Poppins', sans-serif;
    //         // font-family: 'Nunito', sans-serif;
    //     }
    //     .nav-links {
    //         color: $black;
    //         // font-weight: 500;
    //         font-size: 14px;
    //         padding-left: 10px;
    //         font-family: 'Poppins', sans-serif;
    //         // font-family: 'Nunito', sans-serif;

    //     }
    // }
    
    
}

