@import '../../styles';
@import '../../assets';
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.image-gallery-thumbnail.active {
    display: none;
}

.image-gallery-play-button {
    display: none;
}
.image-gallery-fullscreen-button::before, .image-gallery-play-button::before {
    display: none;
}

@media (max-width: 770px) {
    .oneHome-left-and-right-container {
        padding: 0 30px;
    }
    .small-space {
        height: 10px;
    }

    .book-btn {
        @include searchButton;
        margin: 0 auto;
    }
    .oneHome-right-side-container {
        display: none;
    }
    footer {
        background:white;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 70px;
        border-top: solid $gray 2px;
    }
    
}
@media (min-width: 769px) {
    .one-home-entire-container {
        padding: 0 80px;
    }
    
    .img-carousel {
        background-image: url(../../media/toa-heftiba-644507-unsplash.jpg);
        height: 31vh;
        width: 100vw;
        object-fit: cover;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .search-bar-header{
        height: 60px;
        width: 100vw;
        background-color: lightblue;
    }
    
    h1, h2, p, h3 {
        text-align: left;
    }
    
    .small-space {
        height: 10px;
    }
    
    .oneHome-left-and-right-container {
        width: 100%;
        .oneHome-left-side-container {
            display: inline-block;
            width: 47%;
            vertical-align: top;
    
        }
        .oneHome-right-side-container{
            background: pink;
            // height:
            width: 30%;
            display: inline-block;
            width: 40%
        }
    }
}
