// buttons, boxes, etc
// @import '../../styles';

@mixin searchButton {
    background: #FF5A5F;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    width: 315px;
    height: 50px;
}

@mixin hostContinueButton {
    background-color: $darkGreen;
    height: 50px;
    width: 150px;
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}