// colors, fonts

//colors
$pink: #FF5A5F;
$green: #00A699;
$darkGreen: #378288;
$orange: #FC642D;
$black: #484848;
$gray: #767676;
$yellow: #FFB400;
$otherYellow:#F5B63F;
$maroon: #572533;

// fonts
h1 {
    font-size: 32px;
    color: $black;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 700;
    font-style: normal;
    padding: 10px 0;
}

// House name on results page
h2 {
    font-size: 16px;
    color: $black;
    font-weight: 600;
}

// for description headers
h3 {
    font-size: 12px;
    color: $black;
    font-weight: 600;
    padding: 15px 0;
}

// green text
h4 {
    color: $green;

}

// for big sub headings 
h5 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;    

}

// for tiny sub headings in all caps
h6 {
    font-size: 14px;
    color: $black;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}
p {
    font-size: 16px;
    color: $black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}
