// colors, fonts

//colors
$pink: #FF5A5F;
$green: #00A699;
$orange: #FC642D;
$black: #484848;
$gray: #767676;

@font-face {
    font-family: recta;
    src: url('/src/TestBlueberryFont/Recta-Regular.otf') format('opentype');
  }

// fonts
h1 {
    font-size: 32px;
    color: $black;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 700;
    font-style: normal;
    padding: 10px 0;
}

//
h2 {
    font-size: 36px;
    color: $black;
}

// for small description headers
h3 {
    font-size: 18px;
    color: $black;
    font-weight: 600;
    padding: 15px 0;
}

// green text
h4 {
    color: $green;

}

// for big sub headings 
h5 {
    font-size: 24px;
}

// for tiny sub headings in all caps
h6 {
    font-size: 14px;
    color: $black;
    font-weight: 600;

}
p {
    font-size: 16px;
    color: $black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}
