// colors, fonts

//colors
$pink: #FF5A5F;
$green: #00A699;
$orange: #FC642D;
$black: #484848;
$gray: #767676;

// titles
h1 {
    font-size: 56px;
    color: $black
}

//
h2 {
    font-size: 36px;
    color: $black
}

h3 {
    font-size: 28px;
    color: $black
}

// green text
h4 {
    color: $green;

}
p {
    color: $black;
    
}
